*{
  box-sizing: border-box;
 
}

body{

  text-align: center;
  background: url('coffee-background.jpg') fixed;
  background-size: cover;
}

/* ーーーーーー1ページ目　開始　ーーーーーーーーー */
.header{
  height: 100vh;
  background-color: rgba(38, 38, 189, 0.7);
}

.title{
 display: inline-block;
  margin: 0px;
  font-size: 50px;
  line-height: 100px;

}
h2{
  margin-bottom:100px;
}

.buttons{
  border-radius: 4px;
  background-color: #f1b400;
  margin:20px 10px 10px 0px;
}
.button{
  
  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 5px;
  
  color: #fff;
  text-decoration: underline;
  letter-spacing: 1px;
  font-size: 15px;
}


/* ーーーーーー1ページ目　終了　ーーーーーーーーー */

/* ーーーーーー2ページ目　開始　ーーーーーーーーー */
.work{
  height: 100vh;
  background-color: white;
}

/* ーーーーーー2ページ目　終了　ーーーーーーーーー */

/* ーーーーーー3ページ目　開始　ーーーーーーーーー */
.introduction{
  height: 100vh;
  background-color:orangered;
  opacity: 0.7;
  
}

.text{
  width:800px;
  text-align: left;
  margin:30px auto;
}
.button:hover {
  opacity: 0.9;
}
/* ーーーーーー3ページ目　終了　ーーーーーーーーー */