<div class ="header">
<p class="title">Check list</p>

<%= link_to 'タスク作成', '/new', class: "btn" %>
</div>



<% @task.each do |task| %>
  <div class="cp_ipcheck">
  <label class="tag">
  <input type="checkbox" class="option-input02 checkbox" checked />
  <%= task.name %>
  </label>
  <%= link_to '削除', "/tasks/#{task.id}", method: :delete, :class => 'main' %>
  </div>
<% end %>





