
body{
	margin: 0px;
}

h1{
	text-align: center;
	margin: 0px 0px 30px 0px;
	padding: 20px;
	background-color: #1da1f3;
	color: white;
}

.task_area{
	margin-left: 40%;
	width: 300px;
	height: 50px;
	font-size: 20px;
	border-radius: 10px;
}
.submit_btn{
	height: 40px;
	width: 70px;
	-webkit-appearance: none;
    border-radius: 10px;
}

#re_btn{
margin-left: 45%;
}

.header{
  
  margin:0px;
  background-color: skyblue;
}
.title{
	display:inline-block;
	font-family: 'Kaushan Script', cursive;
	text-align: center;
	margin-left: 50%;
  color: whitesmoke;
}

.contents{
	margin-top: 5%;
	text-align: center;
}

.btn{
  position: absolute;
  right: 5%;
	padding:10px;
	margin-top: 1%;


	color: #FFF;
	border-radius: 3px;
	display: inline-block;
	height: 25px;
	width: 95px;
	text-align: center;
	font-size: 12px;
	line-height: 25px;
	background: #1da1f3;
	overflow: hidden;
	text-decoration:none;


}

.re_btn{
	color: #FFF;
    border-radius: 3px;
    display: inline-block;
    height: 50px;
    width: 150px;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    background: #1da1f3;
    overflow: hidden;
    text-decoration: none;
    font-size: 14px;
    margin-left: 44%;
    margin-top: 4%;
    margin-right: 60%;
}

.tag{
	width: 100%;
	
}

.main{
	display: inline-block;
    position: absolute;
    right: 20%;
		margin-top: 12px;
		
    color: #FFF;
    border-radius: 3px;
    display: inline-block;
    height: 12px;
    width: 60px;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    background: #1da1f3;
    overflow: hidden;
    text-decoration: none;
}

a {
	text-decoration: none;
	color:black;

		color: #FFF;
		border-radius: 3px;
		display: inline-block;
		height: 25px;
		width: 95px;
		text-align: center;
		font-size: 12px;
		line-height: 25px;
		background: #1da1f3;
		overflow: hidden;
		text-decoration:none;
}

.task_name{
	display: inline-block;
}

.cp_ipcheck {
	width: 100%;
	margin: auto;
  text-align: left;
	display:inline-block;
	background-color: whitesmoke;
	padding-left: 10%;
}
@keyframes click-wave {
	0% {
		position: relative;
		width: 30px;
		height: 30px;
		opacity: 0.35;
	}
	100% {
		width: 200px;
		height: 200px;
		margin-top: -80px;
		margin-left: -80px;
		opacity: 0;
	}
}
.cp_ipcheck .option-input02 {
	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	background: #d7cbcb;
	-webkit-appearance: none;
	        appearance: none;
}
.cp_ipcheck .option-input02:hover {
	background: #d7cbcb;

	position: relative;
	top: 13.33333px;
	right: 0;
	bottom: 0;
	left: 0;
	width: 30px;
	height: 30px;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
}
.cp_ipcheck .option-input02:checked {
	background: skyblue;
}
.cp_ipcheck .option-input02:checked::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✔';
	text-align: center;

	right: 0;
	bottom: 0;
	left: 0;
	margin-right: 0.5rem;
	cursor: pointer;
	transition: all 0.15s ease-out 0s;
	color: #ffffff;
	border: none;
	outline: none;
	
}
.cp_ipcheck .option-input02:checked::after {
	position: relative;
	display: inline-block;
	/* content: ''; */
	background: silver;

	/* -webkit-animation: click-wave 0.65s;
	        animation: click-wave 0.65s; */

}
.cp_ipcheck .option-input02.radio {
	border-radius: 50%;
}
.cp_ipcheck .option-input02.radio::after {
	border-radius: 50%;
}
.cp_ipcheck label {
	line-height: 40px;
	display: inline-block;
	position: relative;
}
.cp_ipcheck .option-input02:disabled {
	cursor: not-allowed;
	background: #b8b7b7;
}
.cp_ipcheck .option-input02:disabled::before {
	font-size: 20px;
	line-height: 30px;
	position: absolute;
	display: inline-block;
	width: 30px;
	height: 30px;
	content: '✖︎';
	text-align: center;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
